/* Name: Lovepreet Singh
   Student number: 8971798  */

   body {
    width: 100%;
    max-width: 1295px;
    margin: 0 auto;
    font:15px/1.5 Arial, sans-serif;
    padding: 25px;
   }

   .header-footer {
    border: 1px solid #bd8a8a;
    border-radius: 15px;
    padding: 10px 10px;
    margin-bottom: 20px;
   }

   h1 {
    color: #e71550;
    font-variant: small-caps;
   }

   h2 {
    color: #1d8e8e;
    font-variant: small-caps;
   }

   footer p {
    font-size: 15px;
    color: #fa7e0b;
   }

   main {
    width: 66.66%;
    float: left;
    padding: 10px;
    margin: 0 20px 20px 0;
   }

   aside {
    width: 33.33%;
    float: right;
    padding: 5px;
    margin-top: -951px;
  margin-bottom: 100px;
  margin-right:0px;
  margin-left:0px;
    
   }

   .content::after {
    content: "";
    display: table;
    clear: both;
   }

   p {
    margin-right: 100px;
   }

   .mainimg {
    border: 2px solid #c53c3c;
    border-radius: 2px;
   }

   figcaption {
    font-weight: bold;
    font-variant: small-caps;
   }

   q {
    font-family: cursive;
    font-style: italic;
    font-size: 1.0em;
   }

   ul li {
    list-style-type: none;
    line-height: 1.9;
   }

   ul > li > a {
    text-decoration: none;
    color: #e20c7e;
   }

   aside a:hover {
    color: #138723;
   }

   